In [3]:
import pandas as pd

In [22]:
hbcu = pd.read_csv(r'data\hbcus.csv')
demo = pd.read_csv(r'data\demo_hesitancy_by_zip_condensed.csv')
demo = demo[['zip_code', 'state_name', 'county_name']]
hbcu = hbcu[['Name', 'Zip']]
hbcu.head()

                       Name    Zip
0  Alabama A & M University  35762
1  Alabama State University  36101
2   Albany State University  31705
3   Alcorn State University  39096
4          Allen University  29204

In [23]:
hbcu=hbcu.merge(demo, how='left', left_on='Zip', right_on='zip_code')

In [24]:
hbcu.to_csv(r'data\hbcus.csv', index=False)